
div{
	display: table-cell;	

	overflow: scroll;
	}
 .hi{

 	width: 300px;
 	height: 80px;
 	background: #ffff00;
 }
 .hello{
 	width: 300px;
 	height: 80px;
 	background: #00ffff;

 }
 .hru{
 	width: 300px;
 	height: 80px;
 	background: #b3b3b3;
 }
 